In [3]:
import sys
from pathlib import Path

import pandas as pd

sys.path.append(str(Path().resolve().parent))

In [4]:
from extract.get_raw import extract_parquet, insert_parquet_to_duck
from load.show_data import load_duckdb_data
from transform.transform_columns import rename_db_columns

db_path = Path().resolve().parents[0] / "data" / "db" / "db.db"

In [5]:
db_path

PosixPath('/home/gutto/Repos/dq-sus/src/data/db/db.db')

In [6]:
def main_function(disease: str = "CHIK", db_path: Path = db_path) -> pd.DataFrame:
    years = [2021, 2022, 2023]
    raw_data = extract_parquet(disease, years)
    insert_parquet_to_duck(raw_data)
    rename_db_columns(db_path, "sinan")
    data = load_duckdb_data("sinan")
    return data


df = main_function()

2024-11-08 15:04:45,287 - INFO - Database already exists, it will be overwritten.
2024-11-08 15:04:45,313 - INFO - Inserting data from /home/gutto/Repos/dq-sus/src/data/parquet/CHIKBR21.parquet into the database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:04:48,478 - INFO - Inserting data from /home/gutto/Repos/dq-sus/src/data/parquet/CHIKBR22.parquet into the database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:04:59,163 - INFO - Inserting data from /home/gutto/Repos/dq-sus/src/data/parquet/CHIKBR23.parquet into the database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:05:09,394 - INFO - All data inserted into the database successfully.
2024-11-08 15:05:09,395 - INFO - Column mapping for 'english' loaded successfully.
2024-11-08 15:05:09,404 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "TP_NOT" TO "notification_type"
2024-11-08 15:05:09,407 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_AGRAVO" TO "disease_condition_id"
2024-11-08 15:05:09,410 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_NOTIFIC" TO "notification_date"
2024-11-08 15:05:09,413 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "SEM_NOT" TO "notification_week"
2024-11-08 15:05:09,416 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "NU_ANO" TO "notification_year"
2024-11-08 15:05:09,420 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "SG_UF_NOT" TO "notification_state_id"
2024-11-08 15:05:09,424 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_MUNICIP" TO "notification_city_id"
2024-11-08 15:05:09,427 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_REGIONA" TO "notification_region_id"
2024-11-08 15:05:09,431 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_UNIDADE" TO "notification_health_unit_id"
2024-11-08 15:05:09,436 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_SIN_PRI" TO "symptom_onset_date"
2024-11-08 15:05:09,440 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "SEM_PRI" TO "symptom_onset_week"
2024-11-08 15:05:09,443 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ANO_NASC" TO "year_of_birth"
2024-11-08 15:05:09,448 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "NU_IDADE_N" TO "age"
2024-11-08 15:05:09,452 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CS_SEXO" TO "gender"
2024-11-08 15:05:09,456 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CS_GESTANT" TO "pregnancy_status"
2024-11-08 15:05:09,461 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CS_RACA" TO "ethnicity"
2024-11-08 15:05:09,465 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CS_ESCOL_N" TO "education_level"
2024-11-08 15:05:09,468 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "SG_UF" TO "state_of_residence"
2024-11-08 15:05:09,472 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_MN_RESI" TO "city_of_residence"
2024-11-08 15:05:09,476 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_RG_RESI" TO "region_of_residence"
2024-11-08 15:05:09,479 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_PAIS" TO "country_of_residence"
2024-11-08 15:05:09,485 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_INVEST" TO "investigation_date"
2024-11-08 15:05:09,488 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ID_OCUPA_N" TO "occupation_or_activity_field"
2024-11-08 15:05:09,492 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "FEBRE" TO "clinical_signs_fever"
2024-11-08 15:05:09,495 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "MIALGIA" TO "clinical_signs_myalgia"
2024-11-08 15:05:09,499 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CEFALEIA" TO "clinical_signs_headache"
2024-11-08 15:05:09,503 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "EXANTEMA" TO "clinical_signs_rash"
2024-11-08 15:05:09,506 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "VOMITO" TO "clinical_signs_vomiting"
2024-11-08 15:05:09,510 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "NAUSEA" TO "clinical_signs_nausea"
2024-11-08 15:05:09,514 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DOR_COSTAS" TO "clinical_signs_back_pain"
2024-11-08 15:05:09,517 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CONJUNTVIT" TO "clinical_signs_conjunctivitis"
2024-11-08 15:05:09,520 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ARTRITE" TO "clinical_signs_arthritis"
2024-11-08 15:05:09,523 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ARTRALGIA" TO "clinical_signs_arthralgia"
2024-11-08 15:05:09,527 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "PETEQUIA_N" TO "clinical_signs_petechiae"
2024-11-08 15:05:09,531 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "LEUCOPENIA" TO "clinical_signs_leukopenia"
2024-11-08 15:05:09,534 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "LACO" TO "tie_test"
2024-11-08 15:05:09,537 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DOR_RETRO" TO "retro_orbital_pain"
2024-11-08 15:05:09,540 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DIABETES" TO "diabetes"
2024-11-08 15:05:09,544 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "HEMATOLOG" TO "hematological_diseases"
2024-11-08 15:05:09,549 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "HEPATOPAT" TO "hepatopathies"
2024-11-08 15:05:09,552 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RENAL" TO "renal_diseases"
2024-11-08 15:05:09,555 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "HIPERTENSA" TO "hypertension"
2024-11-08 15:05:09,558 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ACIDO_PEPT" TO "peptic_ulcer"
2024-11-08 15:05:09,562 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "AUTO_IMUNE" TO "autoimmune_diseases"
2024-11-08 15:05:09,567 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_CHIK_S1" TO "igm_chikungunya_serum_1_collection_date"
2024-11-08 15:05:09,575 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_CHIK_S2" TO "igm_chikungunya_serum_2_collection_date"
2024-11-08 15:05:09,585 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_PRNT" TO "prnt_test_date"
2024-11-08 15:05:09,591 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RES_CHIKS1" TO "igm_chikungunya_serum_1_result"
2024-11-08 15:05:09,602 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RES_CHIKS2" TO "igm_chikungunya_serum_2_result"
2024-11-08 15:05:09,608 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RESUL_PRNT" TO "prnt_test_result"
2024-11-08 15:05:09,619 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_SORO" TO "serological_test_igm_dengue_collection_date"
2024-11-08 15:05:09,626 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RESUL_SORO" TO "serological_test_igm_dengue_result"
2024-11-08 15:05:09,632 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_NS1" TO "ns1_test_date"
2024-11-08 15:05:09,640 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RESUL_NS1" TO "ns1_test_result"
2024-11-08 15:05:09,644 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_VIRAL" TO "viral_isolation_date"
2024-11-08 15:05:09,647 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RESUL_VI_N" TO "viral_isolation_result"
2024-11-08 15:05:09,651 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_PCR" TO "rt_pcr_date"
2024-11-08 15:05:09,655 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "RESUL_PCR_" TO "rt_pcr_result"
2024-11-08 15:05:09,660 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "SOROTIPO" TO "serotype"
2024-11-08 15:05:09,664 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "HISTOPA_N" TO "histopathology_result"
2024-11-08 15:05:09,667 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "IMUNOH_N" TO "immunohistochemistry_result"
2024-11-08 15:05:09,671 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "HOSPITALIZ" TO "hospitalization"
2024-11-08 15:05:09,675 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_INTERNA" TO "hospitalization_date"
2024-11-08 15:05:09,678 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "UF" TO "state_of_hospital"
2024-11-08 15:05:09,682 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "MUNICIPIO" TO "city_of_hospital"
2024-11-08 15:05:09,686 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "TPAUTOCTO" TO "autochthonous_case_of_residence"
2024-11-08 15:05:09,690 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "COUFINF" TO "country_of_infection"
2024-11-08 15:05:09,695 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "COPAISINF" TO "country_of_infection_id"
2024-11-08 15:05:09,699 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "COMUNINF" TO "infection_city_id"
2024-11-08 15:05:09,704 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CLASSI_FIN" TO "final_classification"
2024-11-08 15:05:09,708 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CRITERIO" TO "classification_criteria"
2024-11-08 15:05:09,713 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DOENCA_TRA" TO "work_related_disease"
2024-11-08 15:05:09,718 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "EVOLUCAO" TO "evolution_case"
2024-11-08 15:05:09,724 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_OBITO" TO "death_date"
2024-11-08 15:05:09,729 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_ENCERRA" TO "case_closure_date"
2024-11-08 15:05:09,734 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_HIPOT" TO "hypotension_alarm"
2024-11-08 15:05:09,738 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_PLAQ" TO "platelet_alarm"
2024-11-08 15:05:09,743 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_VOM" TO "vomiting_alarm"
2024-11-08 15:05:09,748 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_SANG" TO "bleeding_alarm"
2024-11-08 15:05:09,753 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_ABDOM" TO "abdominal_pain_alarm"
2024-11-08 15:05:09,757 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_LETAR" TO "lethargy_alarm"
2024-11-08 15:05:09,761 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_HEPAT" TO "hepatomegaly_alarm"
2024-11-08 15:05:09,766 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "ALRM_LIQ" TO "liquid_alarm"
2024-11-08 15:05:09,771 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_ALRM" TO "alarm_dengue_date"
2024-11-08 15:05:09,775 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_PULSO" TO "pulse_severity"
2024-11-08 15:05:09,780 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_CONV" TO "convergence_pressure_severity"
2024-11-08 15:05:09,788 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_ENCH" TO "capilar_enchiment_severity"
2024-11-08 15:05:09,793 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_INSUF" TO "respiratory_insufficiency_liquid_severity"
2024-11-08 15:05:09,798 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_TAQUI" TO "tachycardia_severity"
2024-11-08 15:05:09,803 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_EXTRE" TO "extremity_coldness_severity"
2024-11-08 15:05:09,807 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_HIPOT" TO "hypotension_severity"
2024-11-08 15:05:09,812 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_HEMAT" TO "hematemesis_severity"
2024-11-08 15:05:09,817 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_MELEN" TO "melena_severity"
2024-11-08 15:05:09,822 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_METRO" TO "metrorrhagia_severity"
2024-11-08 15:05:09,826 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_SANG" TO "bleeding_severity"
2024-11-08 15:05:09,831 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_AST" TO "higher_ast_alt_severity"
2024-11-08 15:05:09,836 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_MIOC" TO "myocarditis_severity"
2024-11-08 15:05:09,840 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_CONSC" TO "consciousness_severity"
2024-11-08 15:05:09,844 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GRAV_ORGAO" TO "other_organs_severity"
2024-11-08 15:05:09,849 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_GRAV" TO "severity_date"
2024-11-08 15:05:09,860 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "MANI_HEMOR" TO "hemorrhagic_manifestations"
2024-11-08 15:05:09,867 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "EPISTAXE" TO "epistaxis"
2024-11-08 15:05:09,872 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "GENGIVO" TO "gingival_bleeding"
2024-11-08 15:05:09,876 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "METRO" TO "metrorrhagia"
2024-11-08 15:05:09,881 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "PETEQUIAS" TO "petechiae"
2024-11-08 15:05:09,886 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "HEMATURA" TO "hematuria"
2024-11-08 15:05:09,891 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "SANGRAM" TO "bleeding"
2024-11-08 15:05:09,896 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "LACO_N" TO "if_patient_did_tie_test"
2024-11-08 15:05:09,901 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "PLASMATICO" TO "plasmatic_value"
2024-11-08 15:05:09,906 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "EVIDENCIA" TO "evidence"
2024-11-08 15:05:09,911 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "PLAQ_MENOR" TO "platelet_count"
2024-11-08 15:05:09,916 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CON_FHD" TO "fdh,scd_degree"
2024-11-08 15:05:09,920 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "COMPLICA" TO "complications"
2024-11-08 15:05:09,925 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "NU_LOTE_I" TO "sinan_lot_number_internal_value"
2024-11-08 15:05:09,930 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "TP_SISTEMA" TO "sinan_system_type_intern_value"
2024-11-08 15:05:09,935 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "NDUPLIC_N" TO "sinan_duplicate_number_intern_value"
2024-11-08 15:05:09,940 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "DT_DIGITA" TO "sinan_typing_date_intern_value"
2024-11-08 15:05:09,944 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "CS_FLXRET" TO "sinan_record_enabled_send_intern_value"
2024-11-08 15:05:09,949 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "FLXRECEBI" TO "sinan_computer_id_intern_value"
2024-11-08 15:05:09,954 - INFO - Executing: ALTER TABLE sinan RENAME COLUMN "MIGRADO_W" TO "sinan_windows_migration_intern_value"
2024-11-08 15:05:09,996 - WARNING - The following columns were not found in the JSON mapping or database and were not renamed:
2024-11-08 15:05:09,997 - WARNING -  - CLINIC_CHIK
2024-11-08 15:05:09,997 - WARNING -  - ALMR_HEMAT
2024-11-08 15:05:10,018 - INFO - Loading data from table 'sinan' in DuckDB database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:05:15,086 - INFO - Data loaded successfully.

In [7]:
df

,notification_type,disease_condition_id,notification_date,notification_week,notification_year,notification_state_id,notification_city_id,notification_region_id,notification_health_unit_id,symptom_onset_date,...,platelet_count,"fdh,scd_degree",complications,sinan_lot_number_internal_value,sinan_system_type_intern_value,sinan_duplicate_number_intern_value,sinan_typing_date_intern_value,sinan_record_enabled_send_intern_value,sinan_computer_id_intern_value,sinan_windows_migration_intern_value
0,2,A92.0,20210730,202130,2021,26,261160,1497,6703437,20210510,...,,,,,2,,20210825,,,
1,2,A92.0,20210826,202134,2021,26,261160,1497,0001120,20210819,...,,,,,2,,20210826,,,
2,2,A92.0,20210614,202124,2021,26,261160,1497,6503640,20210609,...,,,,,2,,20210706,,,
3,2,A92.0,20210706,202127,2021,26,260545,1497,2429586,20210629,...,,,,,2,,20210706,,,
4,2,A92.0,20210628,202126,2021,26,261160,1497,3470253,20210624,...,,,,,2,,20210706,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651053,2,A92.0,20230313,202311,2023,31,310620,1449,0022683,20230311,...,,,,,2,,20230413,1,,
651054,2,A92.0,20230313,202311,2023,31,313535,1470,2172518,20230313,...,,,,,2,,20230314,0,,
651055,2,A92.0,20230313,202311,2023,31,316860,1465,5873835,20230308,...,,,,,2,,20230316,1,,
651056,2,A92.0,20230313,202311,2023,31,311700,1457,2119935,20230310,...,,,,,2,,20230314,1,,
651057,2,A92.0,20230313,202311,2023,31,314140,1457,2120194,20230312,...,,,,,2,,20230330,0,,

In [8]:
type(df)

pandas.core.frame.DataFrame