In [1]:
import sys
from pathlib import Path

import pandas as pd

sys.path.append(str(Path().resolve().parent))

In [2]:
from extract.get_raw import extract_parquet, insert_parquet_to_duck
from load.show_data import load_duckdb_data
from transform.transform_columns import rename_db_columns

db_path = Path().resolve().parents[0] / "data" / "db" / "db.db"

In [3]:
db_path

PosixPath('/home/gutto/Repos/dq-sus/src/data/db/db.db')

In [ ]:
def main_function(disease: str = "CHIK", db_path: Path = db_path) -> pd.DataFrame:
    """
    Main function to process disease data and load it into a DataFrame.

    Args:
        disease (str): The disease to process data for. Default is "CHIK".
        db_path (Path): The path to the database. Default is db_path.

    Returns:
        pd.DataFrame: The processed data loaded into a DataFrame.
    """
    years = [2021, 2022, 2023]
    raw_data = extract_parquet(disease, years)
    insert_parquet_to_duck(raw_data)
    rename_db_columns(db_path, "sinan")
    data = load_duckdb_data("sinan")
    return data


df = main_function()

2024-11-08 15:14:13,256 - INFO - Database already exists, it will be overwritten.
2024-11-08 15:14:13,280 - INFO - Inserting data from /home/gutto/Repos/dq-sus/src/data/parquet/CHIKBR21.parquet into the database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:14:16,307 - INFO - Inserting data from /home/gutto/Repos/dq-sus/src/data/parquet/CHIKBR22.parquet into the database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:14:27,258 - INFO - Inserting data from /home/gutto/Repos/dq-sus/src/data/parquet/CHIKBR23.parquet into the database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:14:37,447 - INFO - All data inserted into the database successfully.
2024-11-08 15:14:37,448 - INFO - Column mapping for 'english' loaded successfully.
2024-11-08 15:14:37,535 - WARNING - The following columns were not found in the JSON mapping or database and were not renamed:
2024-11-08 15:14:37,536 - WARNING -  - CLINIC_CHIK
2024-11-08 15:14:37,536 - WARNING -  - ALMR_HEMAT
2024-11-08 15:14:37,546 - INFO - Loading data from table 'sinan' in DuckDB database.

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

2024-11-08 15:14:42,618 - INFO - Data loaded successfully.

In [5]:
df

,notification_type,disease_condition_id,notification_date,notification_week,notification_year,notification_state_id,notification_city_id,notification_region_id,notification_health_unit_id,symptom_onset_date,...,platelet_count,"fdh,scd_degree",complications,sinan_lot_number_internal_value,sinan_system_type_intern_value,sinan_duplicate_number_intern_value,sinan_typing_date_intern_value,sinan_record_enabled_send_intern_value,sinan_computer_id_intern_value,sinan_windows_migration_intern_value
0,2,A92.0,20210730,202130,2021,26,261160,1497,6703437,20210510,...,,,,,2,,20210825,,,
1,2,A92.0,20210826,202134,2021,26,261160,1497,0001120,20210819,...,,,,,2,,20210826,,,
2,2,A92.0,20210614,202124,2021,26,261160,1497,6503640,20210609,...,,,,,2,,20210706,,,
3,2,A92.0,20210706,202127,2021,26,260545,1497,2429586,20210629,...,,,,,2,,20210706,,,
4,2,A92.0,20210628,202126,2021,26,261160,1497,3470253,20210624,...,,,,,2,,20210706,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651053,2,A92.0,20230313,202311,2023,31,310620,1449,0022683,20230311,...,,,,,2,,20230413,1,,
651054,2,A92.0,20230313,202311,2023,31,313535,1470,2172518,20230313,...,,,,,2,,20230314,0,,
651055,2,A92.0,20230313,202311,2023,31,316860,1465,5873835,20230308,...,,,,,2,,20230316,1,,
651056,2,A92.0,20230313,202311,2023,31,311700,1457,2119935,20230310,...,,,,,2,,20230314,1,,
651057,2,A92.0,20230313,202311,2023,31,314140,1457,2120194,20230312,...,,,,,2,,20230330,0,,

In [6]:
type(df)

pandas.core.frame.DataFrame